example.txt
snake.txt
C:\Users\IT-User\OneDrive - Campus Bildung und Beruf\Dokumente\Schulaufgaben\Fachquali - Various Artists\Herr Oster\python-playground\aufgaben\Lösungen\14.1
C:\Users\IT-User\OneDrive - Campus Bildung und Beruf\Dokumente\Schulaufgaben\Fachquali - Various Artists\Herr Oster\python-playground\aufgaben\Lösungen\15.1
